<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>update</title>
</head>
<body>
<form method="post">
    {% csrf_token %}
    <p>name:<input type="text" size="30" name="name" value="{{i.name}}"></p><br>
    <p>email:<input type="text" size="30" name="email" value="{{i.email}}"></p><br>
    <p>phone:<input type="text" size="30" name="phone" value="{{i.phone}}"></p><br>
    <p>address:<input type="text" size="30" name="address" value="{{i.address}}"></p><br>
    <p><input type="submit" value="submit" name="submit"></p>
</form>

</body>
</html>
